<!-- 展示模板 -->
<template>
  <div id="app">
    <WordCloud msg="词云" />
  </div>
</template>

<!-- Vue 代码 -->
<script>
import "./css/main.less";

import WordCloud from "./components/WordCloud.vue";

export default {
  name: "App",
  components: {
    WordCloud,
  },
};
</script>
